{{ define "head" }}<title>{{ .Latest.Title }}</title>
<link rel="icon" href="//openweathermap.org/img/wn/{{ .Latest.Favicon }}.png">{{ end }}
{{ define "body" }}
<div class="container">
    <div class="card weather">
        <div class="container" style="gap: 0px;">{{ range .Latest.Conditions }}
            <div class="text-center">
                <p><strong>{{ .Description }}</strong></p>
                <img src="//openweathermap.org/img/wn/{{ .Icon }}@4x.png" alt="{{ .Name }}" title="{{ .Name }}">
            </div>{{ end }}
        </div>
    <p class="text-center"><em>Last updated {{ .Latest.TimeAgo }} ago</em></p>
    </div>
    <div class="card weather">
        <p><strong>Humidity:</strong> {{ .Latest.Humidity }}%</p>
        <p><strong>Temperature:</strong> {{ .Latest.Temp }}°C</p>
        <p><strong>Min:</strong> {{ .Latest.TempMin }}°C</p>
        <p><strong>Max:</strong> {{ .Latest.TempMax }}°C</p>
        <p><strong>Feels Like:</strong> {{ .Latest.FeelsLike }}°C</p>
        <hr style="max-width: 180px;">
        <p><strong>Wind Speed:</strong> {{ .Latest.WindSpeed }}m/s</p>
        <p><strong>Clouds:</strong> {{ .Latest.Clouds }}%</p>
        <p><strong>Rain:</strong> {{ .Latest.Rain1H }}mm/h</p>
        <p><strong>Snow:</strong> {{ .Latest.Snow1H }}mm/h</p>
    </div>
</div>
<div class="text-center">
    <p>
        <a href="?from=0">All</a>,
        <a href="?from={{ .OneWeekAgo }}">1w</a>,
        <a href="?">1d</a>
    </p>
    <div class="container">
        <div class="card plot">
            <p>Temperature</p>
            <img src="/api/temp?from={{ .From }}&to={{ .To }}" alt="Could not display temp plot.">
        </div>
        <div class="card plot">
            <p>Humidity</p>
            <img src="/api/plot/humidity?from={{ .From }}&to={{ .To }}" alt="Could not display humidity plot.">
        </div>
    </div>
    <p>
        <a href="/plot/pressure">Plots</a>,
        <a href="/records">Table</a>,
        <a href="/api/records">API</a>
    </p>
</div>
{{ end }}
