{{ define "head" }}<title>{{ .Title }}</title>
<link rel="icon" href="//openweathermap.org/img/wn/{{ .Favicon }}.png">{{ end }}
{{ define "body" }}
<div class="container">
    <div class="weather">
    <p style="text-align: center;">Last measured {{ .TimeAgo }} ago.</p>{{ range .Conditions }}
        <div class="conditions">
            <img src="//openweathermap.org/img/wn/{{ .Icon }}@4x.png" alt="{{ .Name }}" title="{{ .Name }}">
            <p><strong>{{ .Description }}</strong></p>
        </div>{{ end }}
    </div>
    <div class="weather">
        <p><strong>Humidity:</strong> {{ .Humidity }}%</p>
        <p><strong>Temperature:</strong> {{ .Temp }}°C</p>
        <p><strong>Min:</strong> {{ .TempMin }}°C</p>
        <p><strong>Max:</strong> {{ .TempMax }}°C</p>
        <p><strong>Feels Like:</strong> {{ .FeelsLike }}°C</p>
        <hr>
        <p><strong>Wind Speed:</strong> {{ .WindSpeed }}m/s</p>
        <p><strong>Clouds:</strong> {{ .Clouds }}%</p>
        <p><strong>Rain:</strong> {{ .Rain1H }}mm/h</p>
        <p><strong>Snow:</strong> {{ .Snow1H }}mm/h</p>
    </div>
</div>
{{ end }}
