{{ define "title" }}{{ getTitle .Latest }}{{ end }}
{{ define "body" }}
<div class="container">
    <div class="card weather">
        <div class="container" style="gap: 0px;">{{ range .Latest.Conditions }}
            <div class="text-center">
                <p><strong>{{ capitalize .Description }}</strong></p>
                <img src="//openweathermap.org/img/wn/{{ .Icon }}@4x.png" alt="{{ .Name }}" title="{{ .Name }}" style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));">
            </div>{{ end }}
        </div>
    <p class="text-center" style="font-size: 10pt;"><em>Last updated {{ formatTimestamp .Latest.Dt }} ago</em></p>
    </div>
    <div class="card weather">
        <p><strong>Humidity:</strong> {{ .Latest.Humidity }}%</p>
        <p><strong>Temperature:</strong> {{ .Latest.Temp }}°C</p>
        <p><strong>Min:</strong> {{ .Latest.TempMin }}°C</p>
        <p><strong>Max:</strong> {{ .Latest.TempMax }}°C</p>
        <p><strong>Feels Like:</strong> {{ .Latest.FeelsLike }}°C</p>
        <hr style="max-width: 180px;">
        <p><strong>Wind Speed:</strong> {{ .Latest.WindSpeed }}m/s</p>
        <p><strong>Clouds:</strong> {{ .Latest.Clouds }}%</p>
        <p><strong>Rain:</strong> {{ .Latest.Rain1H }}mm/h</p>
        <p><strong>Snow:</strong> {{ .Latest.Snow1H }}mm/h</p>
    </div>
</div>
<div class="text-center">
    <p>
        <a href="?{{ if .Theme }}theme={{ .Theme }}&{{ end }}from=0">All</a>,
        <a href="?{{ if .Theme }}theme={{ .Theme }}&{{ end }}from={{ .OneWeekAgo }}">1w</a>,
        <a href="?{{ if .Theme }}theme={{ .Theme }}{{ end }}">1d</a>
    </p>
    <div class="container">
        <div class="card plot">
            <p>Temperature</p>
            <img src="/api/temp?from={{ .From }}&to={{ .To }}&theme={{ .Theme }}" alt="Could not display temp plot.">
        </div>
        <div class="card plot">
            <p>Humidity</p>
            <img src="/api/plot/humidity?from={{ .From }}&to={{ .To }}&theme={{ .Theme }}" alt="Could not display humidity plot.">
        </div>
    </div>
</div>
{{ end }}
