{{ define "head" }}<title>Plot ({{ .Measure }})</title>{{ end }}
{{ define "body" }}<div class="container">
    <div class="weather">
        <div class="conditions">
            <img src="/api/plot/{{ .Measure }}?from={{ .From }}&to={{ .To }}" alt="Could not display plot." style="max-width: 100%;"><br />
            <p>
                <a href="?from=0">All</a>,
                <a href="?from={{ .OneWeekAgo }}">1w</a>,
                <a href="?">1d</a>
            </p>
        </div>
    </div>
    <div class="weather">{{ range .Measures }}
        <p><a href="/plot/{{ . }}?from={{ $.From }}&to={{ $.To }}">{{ . }}</a></p>{{ end }}
    </div>
</div>{{ end }}
